.block-bg
    background-color: $gray-100
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)
    border-top: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color)
    color: $black

.block-cta
    background: $dark
    color: $white
    overflow: hidden
    position: relative
    .heading
        p
            font-size: $lead-font-size
    .btn
        color: white
