.breadcrumb
    &-wrapper
        background: $footer-background-color
        border: 0
        ol
            --bs-breadcrumb-item-active-color: #{$footer-color}
            --bs-breadcrumb-divider-color: rgba(255,255,255, .7)
        &,
        li,
        a
            color: var(--bs-breadcrumb-divider-color)