.block-cta
    &.block-bg
        background: rgba($footer-background-color,.5)
        border: 0
        color: $footer-color
        overflow: hidden
        position: relative
        .btn
            color: white
    .btn
        @if variable-exists(bootstrap-icons-map)
            &::before
                @include icon("arrow-right-short")
                font-size: 1.4rem
                margin-right: .5rem
                vertical-align: -0.35rem
            @media (prefers-reduced-motion: no-preference)
                &:hover
                    &::before
                        transform: translateX(.3rem)
                &::before
                    transition: transform $transition-duration $transition-effect
    .heading
        p
            font-size: $lead-font-size